body{
    margin:0;
    font-family:'roboto';
    font-size:14px;
}

.container1{
    background-image:url("../images/images/abc.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container2{
    border:1px solid black;
    border-radius:10px;
    display:inline-block;
    padding:20px 40px;
    height:315px;
    position:absolute;
    background:transparent;
    backdrop-filter:blur(10px);
}

.back-button{
    background:transparent;
    position:absolute;
    top:15px;
    left:10px;
    border:none;
    cursor:pointer;
}

.back-button-image{
    width:40px;
}

.heading{
    font-size:45px;
    margin:0;
    margin-bottom:30px;
    font-weight:700;
    text-align:center;
    font-family:'open sans';
}

label{
    display:inline-block;
    margin-bottom: 5px;
}

input{
    background:transparent;
    margin-bottom:15px;;
    border:none;
    border-bottom:1px solid black;
}

input:focus{
    outline:none;
}

.submit-button{
    border:none;
    width:80px;
    height:25px;
    border-radius:3px;
    background-color:rgb(255, 255, 255);
    font-family:'poppins';
    font-size:15px;
    font-weight:500;
    cursor:pointer;
}

.submit-button:hover{
    color:white;
    background-color:rgb(28, 28, 28);
    box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.2);
    transition: color 0.15s,
                background-color 0.15s,
                box-shadow 0.15s;
}

.submit-button:active{
    color:white;
    background-color:black;
    transition: color 0.15s,
                background-color 0.15s;
}

.foget-pw{
    color:black;
    text-decoration:none;
    margin-bottom:8px;
    display:inline-block;
    cursor:pointer;
}

.signup{
    color:black;
    text-decoration:none;
    cursor:pointer;
}

.foget-pw:hover,
.signup:hover{
    text-decoration:underline;}

.foget-pw:active,
.signup:active{
    color:rgb(116, 12, 213);
    transition: color 0.15s;
}
